<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= javascript_tag "Materialize.toast(`#{ devise_error_messages!}`, 8000, 'rounded')", :class=> 'toast-style'%>

<body class="red loaded">

<div class="container">
  <div id="login-page" class="row">
    <div class="col s6 offset-s3 z-depth-4 card-panel center-align">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <%= image_tag "fitness_imgs/sofit.png", :class=>"responsive-img valign profile-image-login" %>
            <p class="center login-form-text">SoFit Sign Up</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
              <%= f.text_field :name, autocomplete: "off" %>
            <label for="name" class="center-align">Name</label>
          </div>
        </div>
         <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">verified_user</i>
              <%= f.text_field :username, autocomplete: "off" %>
          <label for="username" class="center-align">Username</label>
          </div>
        </div>
         <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">photo_camera</i>
              <%= f.file_field :picture %>
            <label for="picture" class="center-align"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
              <%= f.email_field :email, autocomplete: "off"%>
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
               <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br /><i class="material-icons prefix">lock</i>
                <%= f.password_field :password, autocomplete: "off" %>
            <label for="Password" class="center-align">Password</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
             <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <label for="password_confirmation">Password Confirmation</label>
          </div>
        </div>
        <div class="row margin">
         <div class="input-field col s12">
           <i class="material-icons prefix">accessibility</i>
             <%= f.text_field :target_weight, autocomplete: "off" %>
         <label for="target_weight" class="center-align">Target Weight</label>
         </div>
       </div>
       <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix">assessment</i>
            <%= f.text_field :target_bmi, autocomplete: "off" %>
        <label for="target_bmi" class="center-align">Target BMI</label>
        </div>
      </div>
      <div class="row margin">
       <div class="input-field col s12">
         <i class="material-icons prefix">accessibility</i>
           <%= f.text_field :current_weight, autocomplete: "off" %>
       <label for="current_weight" class="center-align">Current Weight</label>
       </div>
     </div>
     <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix">assessment</i>
          <%= f.text_field :current_bmi, autocomplete: "off" %>
      <label for="current_bmi" class="center-align">Current BMI</label>
      </div>
    </div>
        <div class="row">
        <% if devise_mapping.rememberable? -%>
          <div class="input-field col s12 login-text">
              <%= f.check_box :remember_me %>
              <label for="remember-me">Remember me</label>
          </div>
          <% end -%>
        </div>
        <div class="row">
          <div class="input-field col s12 center-align">
            <%= f.submit "Sign Up", :class=> 'btn' , :id=> 'btn' %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            Already have an account?
           <%- if controller_name != 'sessions' %>
             <%= link_to "Log in", new_session_path(resource_name) %><br />
            <% end -%>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
<% end %>
