<%= render 'navigation' %>

<% if flash[:notice] %>
  <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
<% end %>

<% if current_user == User.find_by_id(params[:id]) %>
<% @trackings.each do |t| %>
<div class="row">
 <div class="col s12 m3">
  <div class="card-panel white">
    <div class="post col s3">
     <span class="black-text"></span>
     <%= link_to image_tag(t.goal.category.user.picture_url.to_s, :class=>"profile_image circle"), user_path(t.goal.category.user_id)%>
       <p>
       <% if t.goal.accumulate != false || t.goal.time === nil %>
        <%= t.goal.category.user.name + switch(t.goal.category.name) + t.distance.to_s + t.unit_of_measurement.downcase %>
       <% else %>
        <%= t.goal.category.user.name + switch(t.goal.category.name) + t.distance.to_s + " " + t.unit_of_measurement.downcase + "in" + t.time.to_s %><br>
       <% end %>
       <% if current_user %>
        <% if !liked_tracking?(t) %>
          <%= link_to material_icon.thumb_up, like_tracking_path(t, type: "like"),
            :class=> "material-icons fav", method: :put %>
        <% else %>
          <%= link_to material_icon.thumb_down, like_tracking_path(t, type: "unlike"),
            :class=> "material-icons fav", method: :put %>
        <% end %>
      <% end %>
    </p>
   </div>
 </div>
</div>
<% end %>
<% end %>

<style>
.card-panel {
  opacity: .82;
  height: 200px;
}

.profile_image {
  width: 100%;
}
</style>
