<%= render 'navigation' %>

<% if flash[:notice] %>
  <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
<% end %>

<% if current_user == User.find_by_id(params[:id]) %>
<% @trackings.each do |t| %>
<div class="container">
       <div class="col s4 m4">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title"><%= link_to image_tag(t.goal.category.user.picture_url.to_s,
             :class=>"profile_image circle"), user_path(t.goal.category.user_id)%></span>
             <p>
             <% if t.goal.accumulate != false || t.goal.time === nil %>
              <%= (t.goal.category.user.name + " " + switch(t.goal.category.name) + " " + t.distance.to_s + "<br />" + t.unit_of_measurement.downcase).html_safe %>
             <% else %>
              <%= (t.goal.category.user.name + " " +  switch(t.goal.category.name) + " " +   t.distance.to_s + "<br />" + t.unit_of_measurement.downcase + " in " + time_string(t.time)).html_safe %><br>
             <% end %>
           </p>
           </div>
           <div class="card-action">
            <% if current_user %>
              <% if !liked_tracking?(t) %>
                <%= link_to material_icon.thumb_up, like_tracking_path(t, type: "like"),
                  :class=> "material-icons fav", method: :put %>
              <% else %>
                <%= link_to material_icon.thumb_down, like_tracking_path(t, type: "unlike"),
                  :class=> "material-icons fav", method: :put %>
              <% end %>
            <% end %>
            <p class="like-counter"><%= t.likes.count %></p>
       </div>
     </div>
   </div>
 </div>
   <% end %>
  <% end %>


<style>

.container {
  width: 200px;
  display: inline-block;
}

p {
  white-space: nowrap;
}

.card {
  opacity: .82;
}

.like-counter {
  color: orange;
}

.profile_image {
  width: 40%;
}
</style>
