<%= render 'navigation' %>

<% if flash[:notice] %>
    <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
  <% end %>

<ul id="slide-out" class="side-nav">

   <li><div class="user-view">
     <div class="background">
       <img src="http://static1.squarespace.com/static/573a1afaf8baf3cb61850e22/t/573a95f7b09f95b67526c2b1/1491961947454/?format=1500w" id="prof_back">
     </div>
     <%= link_to image_tag(@user.picture_url.to_s, :class=>"circle"), user_path(@user)%>
     <h5> <%= @user.name %> </h5>
     <h5 class="username"> <%= @user.username %> </h5>
   </div></li>
   <li><div class="divider"></div></li>
   <li><a class="subheader">Exercises</a></li>
   <% @categories.each do |exercise| %>
   <!-- Dropdown Trigger -->
    <%= link_to exercise.name, "/category/#{exercise.id}",
    :class => 'dropdown-button btn cyan lighten-1', data: { activates: "#{exercise.name}" }  %>
    <!-- Dropdown Structure -->
    <ul id="<%= exercise.name %>" class='dropdown-content'>
      <li><%= link_to "Add Goal", "/category/#{exercise.id}/goals/new" %></li>
       <li class="divider"></li>
     <% exercise.goals.each do |goal| %>
      <li><%= link_to goal.name, "/category/#{exercise.id}/goals/#{goal.id}" %></li>
      <% end %>
    </ul>
   <% end %>
 </ul>
 <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <% if current_user && !same_as_current_user? %>
    <% if following_user? %>
      <%= link_to "Unfollow", follow_user_path(@user, type: "unfollow"),
      :class=> "btn waves-effect orange", method: :put %>
    <% else %>
      <%= link_to "Follow", follow_user_path(@user, type: "follow"),
      :class=> "btn waves-effect orange", method: :put %>
    <% end %>
  <% end %>

  <% if current_user == User.find_by_id(params[:id]) %>
  <% @trackings.each do |t| %>
  <div class="row">
   <div class="col s12 m3">
     <div class="card-panel white">
       <div class="post col s3">
       <span class="black-text"></span>
       <%= link_to image_tag(t.goal.category.user.picture_url.to_s, :class=>"profile_image circle"), user_path(t.goal.category.user_id)%>
         <p>
         <% if t.goal.accumulate != false || t.goal.time === nil %>
          <%= t.goal.category.user.name + switch(t.goal.category.name) + t.distance.to_s + t.unit_of_measurement.downcase %>
         <% else %>
          <%= t.goal.category.user.name + switch(t.goal.category.name) + t.distance.to_s + " " + t.unit_of_measurement.downcase + "in" + t.time.to_s %><br>
         <% end %>
         <% if current_user %>
          <% if !liked_tracking?(t) %>
            <%= link_to material_icon.thumb_up, like_tracking_path(t, type: "like"),
              :class=> "material-icons fav", method: :put %>
          <% else %>
            <%= link_to material_icon.thumb_down, like_tracking_path(t, type: "unlike"),
              :class=> "material-icons fav", method: :put %>
          <% end %>
        <% end %></p>
     </div>
   </div>
 </div>
<% end %>
<% end %>

<style>

.card-panel {
  opacity: .2;
  height: 200px;
}

.profile_image {
  width: 100%;
}

h5 {
  color: black;
}
</style>
