
<% @categories.each do |exercise| %>
<!-- Dropdown Trigger -->
 <%= link_to exercise.name, "/category/#{exercise.id}",
 :class => 'dropdown-button btn red lighten-1', data: { activates: "#{exercise.name}" }  %>
 <!-- Dropdown Structure -->
 <ul id="<%= exercise.name %>" class='dropdown-content'>
   <li><%= link_to "Add Goal", "/category/#{exercise.id}/goals/new" %></li>
    <li class="divider"></li>
  <% exercise.goals.each do |goal| %>
   <li><%= link_to goal.name, "/category/#{exercise.id}/goals/#{goal.id}" %></li>
   <% end %>
 </ul>
<% end %>


<h2 class="target-fit"><%= @user.current_weight %></h2>
<h2 class="target-fit"><%= @user.current_bmi %></h2>
<h4 class="target-fit"><%= @user.target_weight %></h4>
<h4 class="target-fit"><%= @user.target_bmi %></h4>
