<%= render 'navigation' %>

<% if flash[:notice] %>
  <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
<% end %>

<ul id="slide-out" class="side-nav">

   <li><div class="user-view">
     <div class="background">
       <img src="http://static1.squarespace.com/static/573a1afaf8baf3cb61850e22/t/573a95f7b09f95b67526c2b1/1491961947454/?format=1500w" id="prof_back">
     </div>
     <%= link_to image_tag(@user.picture_url.to_s, :class=>"circle"), user_path(@user)%>
     <h5> <%= @user.name %> </h5>
     <h5 class="username"> <%= @user.username %> </h5>
   </div></li>
   <li><div class="divider"></div></li>
   <li><a class="subheader">Exercises</a></li>
   <% @categories.each do |exercise| %>
   <!-- Dropdown Trigger -->
    <%= link_to exercise.name, "#",
    :class => 'dropdown-button btn cyan lighten-1', data: { activates: "#{exercise.name}" }  %>
    <!-- Dropdown Structure -->
    <ul id="<%= exercise.name %>" class='dropdown-content'>
      <li><%= link_to "Add Goal", "/category/#{exercise.id}/goals/new" %></li>
       <li class="divider"></li>
     <% exercise.goals.each do |goal| %>
      <li><%= link_to goal.name, "/category/#{exercise.id}/goals/#{goal.id}" %></li>
      <% end %>
    </ul>
   <% end %>
 </ul>
 <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

  <% if current_user && !same_as_current_user? %>
    <% if following_user? %>
      <%= link_to "Unfollow", follow_user_path(@user, type: "unfollow"),
      :class=> "btn waves-effect orange", method: :put %>
    <% else %>
      <%= link_to "Follow", follow_user_path(@user, type: "follow"),
      :class=> "btn waves-effect orange", method: :put %>
    <% end %>
  <% end %>
  
<style>

.side-nav {
  width: 31%;
}

body {
  background: url("/assets/fitness_imgs/sprintfit.jpeg") no-repeat center center fixed;
  background-size: cover;
}

h5 {
  color: black;
}
</style>
