<%= form_for [@category, @goal], url: "/category/#{@category.id}/goals" do |f| %>

<body class="loaded">

  <div class="container">
    <div id="login-page" class="row">
      <div class="col s8 offset-s2 z-depth-4 card-panel center-align">

        <form class="login-form">
          <div class="row">
            <div class="input-field col s12 center">
              <%= image_tag "fitness_imgs/sofit.png", :class=>"responsive-img valign profile-image-login" %>
              <p class="center login-form-text">Create New Goal</p>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s5">
               <select name="goal[accumulate]">
                 <option value="" disabled selected>Type</option>
                 <option value="true">Accumulation</option>
                 <option value="false">Distance/Time</option>
               </select>
               <label for="name" class="center-align">What type of goal do you wish to track?</label>
             </div>
            <div class="input-field col s6">
              <%= f.text_field :name, placeholder: "What's your goal?" %>
              <label for="name" class="center-align">Name</label>
            </div>
            <div class="input-field col s5">
              <%= f.date_select :deadline, placeholder: "What's your deadline?" %>
              <label for="deadline" class="center-align">Deadline</label>
            </div>
            <div class="input-field col s6">
               <select name="goal[unit_of_measurement]">
                 <option value="" disabled selected>Unit of Measurement</option>
                 <option value="Meters">Meters</option>
                 <option value="Kilometers">Kilometers</option>
                 <option value="Miles">Miles</option>
               </select>
             </div>
             <div class="input-field col s6">
               <%= f.text_field :distance, placeholder: "How far is your distance goal?" %>
               <label for="distance" class="center-align">Target Distance</label>
             </div>
             <div class="input-field col s6">
               <i class="material-icons prefix tooltipped" data-position="bottom" data-delay="50" data-tooltip="Only fill this section out if you are setting a Time/Distance goal">format_align_justify</i>
               <%= f.text_field :time, placeholder: "Enter in Milliseconds" %>
               <label for="title" class="center-align">Target Time</label>
             </div>
          </div>
          <div class="row">
            <div class="input-field col s12 center-align">
              <%= f.submit "Add Goal", :class=> 'btn' , :id=> 'btn' %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>

<style>
body {
  background: url("/assets/fitness_imgs/backfit.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.row {
  opacity: 0.92;
}
</style>
