<%= render 'navigation' %>

<% if flash[:notice] %>
  <%= javascript_tag "Materialize.toast(`#{ flash[:notice]}`, 4000, 'rounded')", :class=> 'toast-style'%>
<% end %>

<!-- Navbar goes here -->
<div class="moveRight">
  <% if current_user == User.find_by_id(@goal.category.user_id) %>
<%= link_to "Track Goal", "/goals/#{@goal.id}/tracking/new",
:class => 'waves-effect waves-light btn black lighten-1' %>
<% end %>
<%= link_to "Graph My", "#", :class => 'dropdown-button btn black pulse lighten-1',
data: { activates: "graphing" }  %>
<ul id="graphing" class='dropdown-content'>
  <li><%= link_to "Stats", display_stats_path, :class => "graph" %></li>
  <li><%= link_to "Average", display_average_path, :class => "graph" %></li>
</ul>
</div>
<!-- Page Layout here -->
<div class="row">
    <h2><%= @goal.name %></h2>
    <div class="col s3">
      <table class="tracking-table">
        <thead>
          <tr>
            <th>Distance</th>
            <th>Unit of Measurement</th>
            <% if @goal.accumulate == false %>
              <th><%= "Time" %></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @tracking.each do |t| %>
            <tr>
              <td><%= t.distance %></td>
              <td><%= t.unit_of_measurement %></td>
              <% if t.time != nil %>
                <td><%= time_string(t.time) %></td>
                <% end %>
                <% if current_user == User.find_by_id(t.goal.category.user_id) %>
                <td><%=
                  link_to material_icon.delete, "/trackings/#{t.id}", remote: true, "data-type" => "script",
                  method: :delete,
                  data: { confirm: "You sure?" }, :class => "trackingDel"
                  %>
                </td>
                <td><%=
                  link_to material_icon.edit,
                  "/goals/#{@goal.id}/tracking/#{t.id}/edit", class: "icon-class"
                  %>
                </td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>

    <% if @goal.accumulate != false %>
    <div class="col s7">
      <% if request.original_url =~ /^.*\/stats$/ %>
        <h3>Stats</h3>
        <%= bar_chart @tracking.group(:unit_of_measurement).sum(:distance), colors: ["cyan"], :library => { chart: { backgroundColor: "transparent", :isStacked => true}} %>
      <% elsif request.original_url =~ /^.*\/average$/ %>
        <h3>Average</h3>
        <%= column_chart @tracking.group_by_day(:created_at).sum(:distance), colors: ["cyan"], library: { chart: { backgroundColor: "transparent"}} %>
      <% end %>
    </div>
    <% else %>
    <div class="col s7">
      <% if request.original_url =~ /^.*\/stats$/ %>
        <h3>Stats</h3>
        <%= line_chart @tracking.group_by_day(:created_at, series: false).average(:time), colors: ["cyan"], library: { xAxis: { type: 'datetime', max: @goal.deadline.to_date.strftime('%Q')}} %>
      <% elsif request.original_url =~ /^.*\/average$/ %>
        <h3>Average</h3>
        <%= area_chart @tracking.group_by_day(:created_at).select(:distance).average(:time), colors: ["cyan"], library: {chart: {backgroundColor: "transparent"}} %>
      <% end %>
    </div>
    <% end %>
</div>
<div class="quote-grp">
  <div id="quote-1"><h3 class="quote">“You miss 100% of the shots you don’t take.” –Esther Weon(probably)</h3></div>
  <div id="quote-2"><h3 class="quote">"Today I will do what others won’t, so tomorrow I can accomplish what others can’t.” - Jerry Rice</h3></div>
  <div id="quote-3"><h3 class="quote">“We are what we repeatedly do. Excellence then is not an act but a habit.” —Aristotle</h3></div>
  <div id="quote-4"><h3 class="quote">“No matter how slow you go, you are still lapping everybody on the couch.”</h3></div>
  <div id="quote-5"><h3 class="quote">“If you want something you’ve never had, you must be willing to do something you’ve never done.” —Thomas Jefferson</h3></div>
  <div id="quote-6"><h3 class="quote">“To give anything less than your best is to sacrifice the gift.” —Steve Prefontaine</h3></div>
  <div id="quote-7"><h3 class="quote">“Life begins at the end of your comfort zone.” </h3></div>
</div>



<style>
body {
  background: url("/assets/fitness_imgs/bikefit.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.quote-grp {
  font-family: 'Lobster Two', cursive;
  color: white;
  position: absolute;
  bottom: 0;
}

.tracking-table {
  max-width: 100%;
}
</style>
<script>
  var goalTime = '<%= @goal.time %>';
</script>
