<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
  <head>
    <title>SoFit</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= stylesheet_link_tag %>
    <%= yield %>
  </body>
</html>
